/* DEBUG */
.bg_lgrey{
  background-color: lightgrey;
  border: 1px solid black;
}

.bg_pink{
  background-color: pink;
  border: 1px solid black;
}

.bg_acqua{
  background-color: aqua;
}

.h_fix{
  height: 400px;
}

/* MIX */
.bg_lblue{
  background-color: #F3F5F9;
}

.bg_dblue{
  background-color: #031B4E;
}

.bg_gradient{
  background: linear-gradient(#0547C6, #00209B);
}

.m_bottom_0{
  margin-bottom: 0px;
}

.p_top_bottom_30{
  padding-top: 30px;
  padding-bottom: 30px;
}

.p_top_bottom_50{
  padding-top: 50px;
  padding-bottom: 50px
}

.p_top_bottom_70{
  padding-top: 70px;
  padding-bottom: 70px;
}

.wrapper_small{
  max-width: 1000px;
  margin: auto;
}

.text_white{
  color: #fff;
}
/* slider */
.wrapper_slider{
  position: relative;
}

.wrapper_slider #immagine {
  width: 90%;
  margin: auto;
}

.glyphicon-chevron-left{
  position: absolute;
  top: 50%;
  left: 0;
}

.glyphicon-chevron-right{
  position: absolute;
  top: 50%;
  right: 0;
}

/* HEADER */
.header_top{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 60px;
  width: 100%;
  line-height: 60px;
}

/* Jumbotron */
.jumbo{
  margin-top: 60px;
}

/* MAIN */

/* Section 2 - Deploy */
#deploy .wrapper_small{
  margin-top: 50px;
}

/* Section 3 - Designed */
#designed .container p{
  margin-bottom: 50px;
}

/* Section 4 - Features */
#features h2{
  margin-bottom: 40px;
}

/* Section 5 - Service */

section#service [class*='box']{
  width: calc(50% - 15px/2);
}

.box_left{
  float: left;
}

.box_right{
  float: right;
}

[class*='box'] .row{
  border-bottom: 1px solid #fff;
  line-height: 2em;
}

section#service [class*='box'] .col-xs-7{
  text-align: left;
}

section#service [class*='box'] .col-xs-3{
  text-align: right;
}

/* Section 6 - Development */
#development .container h2{
  margin-bottom: 50px;
}

/* RESPONSIVE */
@media screen and (max-width: 1200px){
  section#service [class*='box']{
    width: 100%;
  }
}
