/* DEBUG */
.bg_lgrey{
  background-color: lightgrey;
  border: 1px solid black;
}

.bg_pink{
  background-color: pink;
  border: 1px solid black;
}

.bg_acqua{
  background-color: aqua;
}

.h_fix{
  height: 400px;
  line-height: 400px;
}

/* MIX */
.bg_lblue{
  background-color: #F3F5F9;
}

.m_bottom_0{
  margin-bottom: 0px;
}

.p_top_bottom_50{
  padding-top: 50px;
  padding-bottom: 50px
}

.p_top_bottom_70{
  padding-top: 70px;
  padding_bottom: 70px;
}

.wrapper_small{
  max-width: 1000px;
  margin: auto;
}
/* HEADER */
.header_top{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 60px;
  width: 100%;
  line-height: 60px;
}

/* Jumbotron */
.jumbo{
  margin-top: 60px;
}
