/* DEBUG */
.bg_lgrey{
  background-color: lightgrey;
  border: 1px solid black;
}

.bg_pink{
  background-color: pink;
  border: 1px solid black;
}

.bg_acqua{
  background-color: aqua;
}

.h_fix{
  height: 400px;
}

/* MIX */
.bg_lblue{
  background-color: #F3F5F9;
}

.bg_dblue{
  background-color: #031B4E;
}

.bg_gradient{
  background: linear-gradient(#0547C6, #00209B);
}

.m_top_0{
  margin-top: 0px;
}

.m_bottom_0{
  margin-bottom: 0px;
}

.m_bottom_20{
  margin-bottom: 20px;
}

.p_top_bottom_30{
  padding-top: 30px;
  padding-bottom: 30px;
}

.p_top_bottom_50{
  padding-top: 50px;
  padding-bottom: 50px
}

.p_top_bottom_70{
  padding-top: 70px;
  padding-bottom: 70px;
}

.wrapper_small{
  max-width: 1000px;
  margin: auto;
}

.text_white{
  color: #fff;
}

.title_blue{
  color: #0568F6;
}

.text_opac{
  opacity: 0.6;
}

/* Bottoni */
.button{
  color: #0568F6;
  background-color: #fff;
  border: 1px solid #0568F6;
  padding: 5px;
  border-radius: 5px;
}

.button_inblue{
  border: none;
  padding: 10px;
}

/* slider */
.wrapper_slider{
  position: relative;
}

.wrapper_carousel{
  margin-top: 100px;
}

.wrapper_slider .immagine {
  width: 90%;
  margin: auto;
}

.wrapper_slider .immagine img{
  width: 100%;
}

.glyphicon-chevron-left{
  position: absolute;
  top: 50%;
  left: 0;
}

.glyphicon-chevron-right{
  position: absolute;
  top: 50%;
  right: 0;
}

.slider_point{
  color: #0568F6;
  font-size: 10px;
  margin-top: 70px;
}

[class*="glyphicon-chevron-"]:hover{
  color: #69758F;
}

/* TIPOGRAFIA */
body{
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 40px;
  font-weight: 600;
}

h2{
  font-weight: 600;
  color: #061B4E;
}

h3{
  font-weight: 600;
  color: #061B4E;
}

h4{
  font-weight: 600;
  color: #061B4E;
}

h5{
  font-weight: 600;
}

a{
  color: #0568F6;
}

p.par_big{
  font-size: 1.5em;
}

p.par_grey{
  color: #5C6A88;
}

a:hover{
  text-decoration: none;
  color: #1633ff;
}

/* HEADER */
.header_top{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #fff;
}

.header_top img{
  width: 100%;
}

.header_top .nav_menu a{
  color: #000;
}

.header_top .nav_menu li:hover a{
  text-decoration: none;
  color: #0568F6;
}

.header_top .nav_menu a.button{
  color: #0568F6;
}

.header_top .nav_menu a.button:hover{
  color: #fff;
  background-color: #0568F6;
}

#button_hamburger{
  color: #0568F6;
  border: none;
}

/* Jumbotron */
.jumbo{
  margin-top: 60px;
  background-image: url(../img/bg-jumbotron.svg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.jumbo.par_big{
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7)
}

/* Form */
.form_card{
  background-color: #fff;
  border-radius: 5px;
}
.form_signup input{
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #EEEEEE;
  margin: 10px auto;
  line-height: 30px;
}

a#create{
  display: block;
  line-height: 30px;
  background-color: #0568F6;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

a#sign_google{
  display: block;
  position: relative;
  color: #626262;
  line-height: 30px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  margin: 10px auto;
}

a#sign_google:hover{
  color: #0568F6;
}

a#sign_google img{
  position: absolute;
  left: 10px;
  height: 30px;
}

.jumbo p.terms{
  font-size: 10px;
}

  /* to check */
.jumbo input[type=email]:focus{
  border: 1px solid #1633ff;
}
  /* to check */

/* MAIN */
/* Section 1 - Loghi */
p#innovative{
  font-weight: 500;
  color: #6F7B97;
}

/* Section 2 - Deploy */
#deploy .wrapper_small{
  margin-top: 50px;
}

#deploy .side_menu{
  border-left: 2px solid #CCCCCC;
}

#deploy .side_menu .side_menu_item{
  border: none;
  color: #5C6A88;
}

#deploy img{
  max-height: 36px;
}

/* Section 3 - Designed */

/* Section 4 - Features */

/* Section 5 - Service */

[class*='col-'] .container-fluid > .row{
  border-bottom: 1px solid #fff;
  line-height: 2em;
}

#service [class*='box'] .col-xs-7{
  text-align: left;
}

#service [class*='box'] .col-xs-3{
  text-align: right;
}

#service a{
  color: #5DD6D1;
}

#service a:hover{
  color: #1633ff;
}

/* Section 6 - Development */
#development .immagine{
  background-color: #fff;
  padding: 40px 5px;
  border-radius: 5px;
}

#development img{
  max-width: 300px;
  margin-bottom: 20px;
}

#development p.quote{
  max-width: 90%;
  margin: auto;
}

#development .slider_point{
  margin-top: 30px;
}

/* Section 7 - Get Started */

/* FOOTER */
footer .footer_menu li a{
  color: #fff;
  opacity: 0.6;
}
/* RESPONSIVE */

@media screen and (min-width: 1200px){
  h1{
    font-size: 50px;
  }

  .wrapper_carousel{
    margin-top: 50px;
  }

  .slider_point{
    margin-top: auto;
  }

  #development .immagine{
    padding: 70px 5px;
  }
}
