section#service{
  background: linear-gradient(#0547C6, #00209B);
}

[class*='box']{
  width: calc(50% - 15px/2);
  background-color: green;
}

.box_left{
  float: left;
}

.box_right{
  float: right;
}

.row{
  border-bottom: 1px solid #fff;
  line-height: 2em;
}

@media screen and (max-width: 1200px){
  [class*='box']{
    width: 100%;
  }
}
