.bg_grey{
  background-color: grey;
}

.title_blue{
  color: #0568F6;
}

.form_signup input{
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #EEEEEE;
  margin: 10px auto;
  line-height: 30px;
}

a#create{
  display: block;
  line-height: 30px;
  background-color: #0568F6;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

a#sign_google{
  display: block;
  line-height: 30px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  margin: 10px auto;
}

a#sign_google img{
  height: 30px;
}

/* slider */
.wrapper_slider{
  position: relative;
}

.wrapper_slider .immagine {
  width: 90%;
  margin: auto;
}

.wrapper_slider .immagine img{
  width: 100%;
}

.glyphicon-chevron-left{
  position: absolute;
  top: 50%;
  left: 0;
}

.glyphicon-chevron-right{
  position: absolute;
  top: 50%;
  right: 0;
}

.slider_point{
  color: #0568F6;
  font-size: 10px;
}
/* carousel */
#development .container h2{
  margin-bottom: 50px;
}

#development .immagine{
  background-color: #fff;
  border-radius: 5px;
}
#development img{
  max-width: 300px;
  margin-bottom: 20px;
}

#development p.quote{
  max-width: 90%;
  margin: auto;
}
